//
// Global
//___________________________________________________

.blue-bg{
	background:url(../img/global/account-page-bg.jpg) bottom repeat-x #0b8ad7;
}

.white-bg{
	background:white;
}

.black-bg{
	background:#363636;
	color:white;
	p{
		color:white;
	}
}