.page-id-117, .tax-class_types{
	.hero-content{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		
		@include breakpoint($medium) {
			bottom:30%; 
		}
	}
	.hero-content-wrap{
		max-width:100% !important;
	}

	.hero-content-wrap{
		text-align:center;
		h2{
			font-size:40px;
			font-family:$headings-book;
			line-height:85%;
			margin-bottom:10px;
			padding-bottom:0px;
			@include breakpoint($medium) {
				font-size:125px;
			}
		}
		p{
			max-width:960px;
			margin:0 auto;
		}
	} 
}

.page-id-117{
	.hero-content{
		position:absolute;
		background:transparent;
		top: 50%;
		left: 50%;
		bottom:initial;
		transform: translate(-50%, -50%);
		@include breakpoint($medium) {
			bottom:30%;
		}
	}
}
